/*
    공통적용 폰트 색상
                        */
.section_title > li,
/* 인사 */
.insa_text, #insa_family_tbl td, #insa_family_tbl td span,
/* 축하연락처 */
.name_block,
/* 달력 */
.calendar_ym, .calendar td, .calendar_title li > span,
/* 갤러리 */
.photo_more_btn, .sub_title, #photo_more_row span,
/* 안내사항 */
.notice_text, 
/* 오시는길 */
.section_desc, .map_address > div,
/* 계좌 */
.bank_txt_view_btn > span,
/* 축하화환 */
.flower_wreath_wrapper > div, .aff_banner > div,
/* 축하메시지*/
.msg_button, .guest_msg_memo, .msg_name > div, .guest_navigation_wrapper > div 
/* 소식공유 */
.share_bottom > div {
    color: #544741;
}

/* 
    섹션 공통
                */
.section{
    padding-bottom: 64px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top:25px;
}
.section {
      background-color: transparent;
}
.section:nth-child(odd) {
     background-color: transparent;
}
.section_header {
    border: none;
    display: flex;
    font-size: 13px;
    font-style: italic; 
    justify-content: space-between;
    padding-bottom: 18px;
}
.section_header > div {
    color: #92857d;
}
.section_title {
    border-bottom: 1px solid #ded0c5;
    color: #544741;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 50px;
    padding-top: 52px;
    text-align: left;
    margin-bottom: 30px;
}
.section_title li {
    color: #544741;
}
.section_desc {
    text-align: center;
}
/*
    1. 초대 인사말
                    */

.insa_text {
    line-height: 24px;
    margin-bottom: 30px;
}  
#insa_family_tbl {
    border-spacing: 0 10px;
}
.insa_parent_block {
    padding-right: 5px;
    text-align: right;
}
.insa_rel_block, .insa_ord_block {
    padding-left: 5px;
    padding-right: 5px;
}
.insa_self_block span {
    font-weight: bold;
}

/*
    2. 축하연락처
                   */
.section_content_wrap {
    padding-top:20px;
    padding-bottom: 40px;
    position: relative;
}
.section_content_wrap_a:before {
    content:'groom';
    color: #544741;
    font-size: 13px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.section_content_wrap_b:after {
    content:'bride';
    color: #544741;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}                   
.contact_inner {
	border:1px solid #a7adbb;
	margin-top:20px;
	margin-left: 12px;
	margin-right: 12px;
}
.contact_icon_block {
    height: 45px;
	width: 15%;
}
.contact_icon_block{
    display: inline-block;
    height: 45px; 
    cursor: pointer;
    display: inline-block;
}
.contact_tel_img {
	background: url('./img/icon_contact_t1c1_tel.png') ;
	background-repeat: no-repeat;
	background-size: 18px;	
	background-position: center right;
}
.contact_msg_img {
    background: url('./img/icon_contact_t1c1_msg.png');
    background-position: center right 10px;
    background-repeat: no-repeat;
    background-size: 18px;
}
.contact_row {
	display: flex;
}
.contact_row li {
	height: 45px;
    display: inline-block;
    line-height: 45px;
}
.contact_row li:first-child {
	width: 65%;
	padding-left: 18px;
}

.name_block, .name_block > span {
    font-size: 13px;
}


/* 
    3. 달력 
               */
.calendar_section {
    background-image: url('./img/img_calendar_t3c1_bg.jpg');
    background-color: #fdf8f4;
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: 700px 700px;
}
.calendar_title {
    padding-top: 46px;
    padding-bottom: 46px; 
}
.calendar_title li > span {
    font-size: 22px;
}
#calendar_row .section_header{
    border: none;
}
.calendar_inner {
    background-color: #ffffff;
    margin-top:20px;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px;
}
.calendar_ym {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 14px;
    text-align: center;
}
table.calendar {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
}
.calendar th, .calendar td {
    height: 36px;
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    text-align: center; 
    word-break: break-all;
}
.calendar th {
    color: #c8b39e;
    font-size: 12px;
}
.calendar td > span {
    font-size: 13px;
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    color: #524441;
}
.calendar .dday > span{
    display:inline-block;
    width: 25px;
    height: 25px;
    background-color: #dfc9bb;
    border-radius: 100%;
    color: #524441;
    text-align: center;
    line-height: 25px; 
    font-size:12px; 
}
/* 
    4. 갤러리 
                 */
#photo_section {
	padding-left: 0;
	padding-right: 0;
}
#photo_section .section_header{
    margin-left: 35px;
    margin-right: 35px;
}
.photo_title {
    margin-left: 35px;
    margin-right: 35px;
}
.photo_title span {
    color: #544741;
    font-size: 20px;
}
.photo_block {
    padding-left: 35px;
    padding-right: 35px;
}
.photo_list {
    font-size: 0;
}
.photo_row {
    height: 140px;
    width: calc(100% / 2 - 8px);
    background-color: #f8f8f8;
    display: inline-block;
    font-size: 12px;
    line-height: 140px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    text-align: center;
}
.photo_row:nth-child(even){
    margin-right: 0;
}
.photo_row > img{
    height: 140px;
    width: 140px;
}
.photo_more_btn {
    height: 45px;
    width: 100%;
    border: 1px solid #988678;
    color: #524741;
    font-size: 13px;
    line-height: 45px;
    text-align: center;
}
/* -- 갤러리 Atype 슬라이드 --*/
.photo_section_body {
    padding-left: 35px;
    padding-right: 35px;
}
#photo_counter {
    text-align: center;
    margin-bottom: 20px;
}

#photo_counter > li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.photo_counter_num {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
}

.photo_counter_txt {
    color: #777777;
    font-size: 14px;
    margin-top: 4px;
}
/* 더보기 버튼 */
#photo_more_row {
    height: 45px;
    width: 100%;
    border: 1px solid #a7adbb;
    text-align: center;
}
#photo_more_row span {
    color: #333333;
    font-size: 13px;
    line-height: 45px;
}
/* -- 갤러리 Btype 슬라이드 -- */
/* 선택한 사진 영역 */
.photo_slide_wrapper {

}
.map_view_img {
    width: 100%;
}
#photo_view_wrapper {
    position: relative; 
    overflow: hidden;
    margin-left: 35px;
    margin-right: 35px;
    background-color: transparent;
    height: 100%;
}
#photo_view_swiper-container {
    width: 100%;
    text-align: center;
}
#photo_view_swiper-container .swiper-slide img {

}
#photo_view_swiper-container .swiper-wrapper {
    width:100%;
    align-items:center;
}
/*
#photo_view_img {
    max-width: 100%;
    max-height: 292px;
}
*/
#photo_view_btn_row > div {
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 50%;
    z-index: 10;
}
/* 네비게이션 버튼 */
#photo_view_prev_btn {
    height:23px;
    width:23px;
    border-top:1px solid #81818b;;
    border-left: 1px solid #81818b;
    transform: rotate(-45deg);
    text-indent: -99999px;
    left: 13px;    
}
#photo_view_next_btn {
    height:23px;
    width:23px;
    border-bottom:1px solid #81818b;
    border-right: 1px solid #81818b;
    transform:rotate(-45deg);
    text-indent: -99999px;
    right: 13px;
}
/* 슬라이드 서브타이틀 */
.photo_view_sub_title {
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    margin-top: 15px;
    text-align: center;
}
/* 사진 썸네일 리스트 */
#photo_thmb_wrapper {
    text-align: center;
    margin-top: 30px;
}
#photo_thmb_swiper-container {
    width: 100%;
}    
#photo_thmb_swiper-container .swiper-slide {
    width: 100%;
}
.photo_thmb_thm_img {
    width: 54px;
    height: 54px;
    margin-right: 9px;
    z-index: 1;
}
.photo_thmb_thm_img:last-child {
    margin-right: 0;
}
#photo_thmb_swiper-pagination {
    margin-top: 15px;
}
#photo_thmb_swiper-pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
 }
#photo_thmb_swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ffd6d7;
    border:none;
}
/* 웨딩 무비 */
.swiper-container {
    width: 100%;
    height: auto;
}
#movie_pagination {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
#movie_pagination .swiper-pagination-bullet {
    height: 7px;
    width: 7px;
}
#movie_pagination .swiper-pagination-bullet-active {
    background-color: #93867d;
    border: none;
}
.sub_title {
    font-size: 12px;
    font-style: italic;    
    margin-top:47px;
    margin-bottom: 15px;
    text-align: center;
    color: #544741;
 }
/* 모바일영상 무료만들기 */
#photo_movie_banner {
    background-color: #edf2fc;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
#photo_movie_banner_title {
    color: #5674b9;
    font-size: 14px;
    margin-bottom: 12px;
}
#photo_movie_banner_button {
    border: 1px solid #cfd9ec;
    border-radius: 20px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}  
/* 
    5. 오시는길 
                 */
.map_address > div:first-child {
    text-decoration: underline;
    text-decoration-color: #797979;
    text-underline-offset: 3.5px;
}
.map_address {
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 20px;
}
.map_address > div {
    color: #524741;
}
.map_address > div:first-child {
    text-decoration: underline;
}
/* 전화문의 버튼 */
.tel_ask_btn {
    height: 30px;
    width: 90px;
    background-color: #dcc5b5;
    background-image: url('./img/icon_contact_white_tel.png');
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: auto 15px;
    border-radius: 0;
    color: #ffffff;
    font-size: 14px;
    line-height: 31px;
    margin: 0;
    margin-top: 10px;
    padding-left: 32px;
}
/* tab menu button */
.mcard_button2_row {
    height: 36px;
    margin-top: 50px;
    line-height: 36px;
}
.mcard_button2 {
    width: 50%;
    background-color: #f5f5f7;
    color: #808388;
    cursor: pointer;
    float: left;
    font-size: 16px;
    text-align: center;
}
.mcard_button2_on {
    background-color: #f2e5dd;
    color: #534640;
}
.map_img {
    margin-right: 10px;
    margin-top: 10px;
}
#map_img {
    width: 100%
}
/* navi button */
.map_navi_button_row {
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
}
.map_navi_button {
    display: inline-block;
    font-size: 12px;
    margin-right: 18px;
}
.map_navi_button > a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #f5f5f5;
    border-radius:50%;
   /* background-color: #fdf8f4; 섹션배경 흰색*/
    text-align: center;
    padding-top: 8px;
    margin-bottom: 7px;
}
.map_navi_button > a img {
    height: 21px;
    width: auto;
}
.map_navi_button:last-of-type {
    margin-right: 0;
}
#map_text {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
    text-align: center;
}
.map_config_icon_wrap {
    position: absolute;
    left: 25px;
    bottom: 30px;
    cursor: pointer;
    z-index: 2;
}
#map_config_icon_btn {
    width: 28px;
    height: 28px;
}

/* 
    6. 안내사항
                 */
.notice_row {
    margin-bottom: 15px;
}
.notice_txt_wrapper {
    border: 1px solid #9b8675;
}
.notice_txt_wrapper div{
    width: 100%;
}
.notice_row_no {
    display:none;
   /* width: 20%;
    color: #e5d3c5;
    font-size: 42px;
    font-style: italic;
    margin-top: -7px;*/
}
.notice_row_txt_title {
    padding-bottom: 3px;
    height:28px;
    line-height: 28px;
    border-bottom: 1px solid #9b8675;
    position: relative;
    padding-left: 12px;
}
.notice_row_txt_title:after {
    content: '★';
    font-size:15px;
    font-weight: bold;
    position: absolute;
    top; 0;
    right: 0;
    color: #e5d3c5;
    padding-right: 12px;    
}
.notice_row_txt {
    line-height: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 15px;
    word-break: break-all;
}
.notice_row_no, .notice_row_txt {
    padding-bottom: 15px;
}

/*
    7. 축하의마음전하기(계좌)
                               */

/*
    7-1. 화환배송
                    */
#flower_wreath_row {
    padding-bottom: 55px;
}
.flower_wreath_wrapper > div {
    text-align: center;
    line-height: auto;
    position: relative;
    border: 0px solid red;
}
.flower_wreath_wrapper > div:first-child {
    height: 50px;
}
.flower_wreath_wrapper > div:nth-child(2) {
    font-size: 13px;
    line-height: 22px;
    margin-top: 8px;
}
.flower_wreath_wrapper > a > div {  /* 화환신청버튼 */
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; 
    cursor: pointer;
    font-size: 13px;
    border: 1px solid #ffd4cf;
    border-radius: 18px;
    height: 38px;
    line-height: 36px;
    width: 150px;
    margin: auto;
    margin-top: 8px;
    text-align: center;
}
#flower_wreath_btn_off {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
/*
    8. 축하 메시지
                      */
#guest_section .section_title {
    margin-bottom: 0; 
    padding-bottom: 50px;;
}
#guest_section {
    padding-left: 0;
    padding-right: 0;
}
#guest_section .section_header, .guest_title {
    margin-left: 35px;
    margin-right: 35px;
}
.guest_title {
    padding-bottom: 0;
}
.guest-swiper-container .swiper-slide {
    padding-left: 35px;
    padding-right: 35px;
}
.guest_article_icon_wrapper {
    margin-top: 35px;
}
.article_row {
    text-align: left;
}
.msg_name, .msg_date {
    clear: both;
    display: inline-block;
    margin-top: 30px;
}
.msg_name {
    color: #000000;
    font-size: 15px;
}
.msg_date {
    color: #777777;
    font-size: 13px;
    margin-left: 15px;
}
.msg_button {
    height: 28px;
    width: 66px;
    background-color: #e5d3c5;
    border-radius: 0px;
    color: #524741;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    margin-right: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    outline: none; 
    text-align:center;    
}
.reply_guest {
    background-color: transparent;
    clear: both;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid #988777;
}
.reply_guest .msg_button {
    background-color: #f2e5dd;
}
.reply_guest .msg_name, .reply .msg_date {
    margin-top: 15px;
}
.msg_block_bottom {
    margin-top: 3px;
}
.msg_memo {
    color: #666666;
    display: inline-block;
    font-size: 13px;
    hyphens: auto;
    line-height: 18px;
    margin-left: 5px;
    padding-top: 8px;
    word-break: break-all;
}
.guest_msg_memo {
    clear: both;
    color: #544741;
    font-size: 15px;
    line-height: 24px;
    margin-top: 12px;
    text-align: left;
    word-break: break-all;
}
.guest_article {
    position: relative;

}
.guest_article  > div {
    text-align: left;
}
.msg_icon_wrapper {
    height: 45px;
    width: 45px;
    background-image: url('./img/guest_emo_bg.png');
    background-size: 45px 45px;
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
.msg_icon_img {
    height: 23px;
    width: 24px;
    left: 11px;
    position: absolute;
    top: 11px;
}

/* 댓글 아이콘 */
.msg_text_block .heart, .reply .heart {
    display: none;
}
.guest_article_icon1 {
    display: inline-block;
    height: 12px;  
    width: 16px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 2px 2px 0 0 #93867d;
    position: relative;
    transform: rotate(-50deg);
    text-align: left;
}
.guest_article_icon1:after {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #93867d;
    position: absolute;
    bottom: 0px; 
    left: -1px;  
}
.guest_article_icon2 {
    display: inline-block;
    height: 12px;  
    width: 16px;
    border-radius: 50%;
    background: transparent;
    box-shadow: inset 2px 2px 0 0 #93867d;
    position: relative;
    transform: rotate(-50deg);
    margin-left: -4px;
}
.guest_article_icon2:after {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #93867d;
    position: absolute;
    bottom: 0px; left: -1px; 
}
.guest_more_btn {
    margin-top: 40px;
}
/* 
    9. sns 소식공유 
                      */
.share_title {
    display: none;
 }
.share_sns_row {
    height: 36px;
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    
}
.share_sns_btn {
    height: 35px;
    width: 35px;    
    font-size: 12px;
    background-image: url('img/icon_sns_t2c1_kakao.png');
    background-repeat: no-repeat;
    background-size: 35px;
    cursor: pointer;
    margin-right: 33px;
}
.share_sns_btn:last-child{
    margin-right: 0;
}
.share_kakaostory_btn {
    background-image: url('img/icon_sns_t2c1_story.png');
}
.share_line_btn {
    background-image: url('img/icon_sns_t2c1_line.png');
}
.share_facebook_btn {
    background-image: url('img/icon_sns_t2c1_facebook.png');
}
.share_bottom {
    width: 100%;
    font-size: 13px;
    font-style: italic;
    padding-top: 30px;
    text-align: center;
}
.share_bottom .heart {
    margin-top: 9px;
}
.share_bottom .heart:before {
    background-color:#524741;
}
.share_bottom .heart:after {
    background-color:#524741;
}
.share_bottom > div:first-child:before {
    content: 'Thank you!';
}
.share_bottom .heart {
    margin-top: 3px;
    margin-bottom: 0;
}
.share_bottom .heart:before {
    background-color:#212530;
    left: 0;
}
.share_bottom .heart:after {
    background-color:#212530;
}


 /* 
    하트 이모티콘 
                    */
 .heart {
    height: 15px;
    width: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
    position: relative;
}
.heart:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: -50%;
    width: 8px;
    height: 13px;
    border-radius: 50px 50px 0 0;   
    background-color: #c08cc2;
    transform: rotate(-48deg);    
}
.heart:after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 8px;
    height: 13px;
    border-radius: 50px 50px 0 0;
    background-color: #c08cc2;
    transform: rotate(48deg);    
}


/* 
    숨김 처리 
                */

.day_title_date, .day_title_num {
	display: none;
}